%h1 The boilmarks

%p== #{@boilmarks.count.to_s}

- @boilmarks.each do |boilmark|
  .average
    %p== Name: #{boilmark['name']}
    %p== Time: #{boilmark['time']}
    %p== Seconds: #{boilmark['seconds']}
    %p== Date: #{boilmark['post_date']}
    %br
