%h1 The Boilmarks

:javascript
  function toggle_visibility(id) {
       var e = document.getElementById(id);
       e.style.display == 'block' ? e.style.display='none' : e.style.display='block';
    }

%table{ :cellpadding => "5", :cellspacing => "0" }
  - @boilmarks.each do |boilmark|
    %tr{ :valign => "top", :class => "boilmarks" }
      %td
        Time
      %td
        #{boilmark['time']}
    %tr
      %td
        Brand & model &nbsp;&nbsp;
      %td
        #{boilmark['brand_model']}
    %tr{ :valign => "top", :class => "boilmarks" }
      %td
        Type
      %td
        #{boilmark['type']}
    %tr{ :onClick => "toggle_visibility('#{boilmark['_id']}')"}
      %td
        Comment
        %br
        (Click to show)
      %td{ :style => "display:none", :id => "#{boilmark['_id']}" }
        ! #{@bluecloth.new(boilmark['comment']).to_html}
    %tr{ :valign => "top", :class => "boilmarks" }
      %td
        Name
      %td
        #{boilmark['name']}
    %tr
      %td
        Date
      %td
        #{boilmark['post_date']}
    %tr
      %td{ :colspan => "2" }
        %br
        %hr
        %br

